*.swp
*.autosave
*.user
out/*
build/*
.vscode
*.qt.cc
*.qt.hh
*.pyc
/build
/build_2d
/build-2d
/build-2d-py39
/build-3d-py39
/build_DG_UNSTRUCTURED
/build-UNSTRUCTURED
*.so
/vendor
/build-tetgrid
/build-split-and-merge